# name: CI Build & Push to Harbor

# on:
#   push:
#     branches: ["main"]
#   workflow_dispatch:

# env:
#   IMAGE_NAME: python-app

# jobs:
#   build-and-push:
#     runs-on: [self-hosted, arc-org]

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v5

#       - name: Docker login to Harbor
#         run: |
#           echo "${{ secrets.HARBOR_PASSWORD }}" | docker login "${{ secrets.HARBOR_REGISTRY }}" \
#             -u "${{ secrets.HARBOR_USERNAME }}" --password-stdin

#       - name: Build image
#         run: |
#           docker build -t "${{ secrets.HARBOR_REGISTRY }}/${{ secrets.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:${{ github.sha }}" .

#       - name: Push image
#         run: |
#           docker push "${{ secrets.HARBOR_REGISTRY }}/${{ secrets.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:${{ github.sha }}"

#       - name: Also tag & push latest (optional)
#         if: github.ref == 'refs/heads/main'
#         run: |
#           docker tag "${{ secrets.HARBOR_REGISTRY }}/${{ secrets.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:${{ github.sha }}" \
#                     "${{ secrets.HARBOR_REGISTRY }}/${{ secrets.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:latest"
#           docker push "${{ secrets.HARBOR_REGISTRY }}/${{ secrets.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:latest"
